// Mixins
@import 'mixins';

// Variables
@import 'variables';

// font-family: 'Nunito Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900');

// font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Fonts
h1, h2, h3, h4, h5, h6, p, a, label, input, select, textarea, button {
  font-family: 'Nunito Sans', sans-serif;
}
h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: .3px;
  line-height: 0.9;
  text-transform: uppercase;
}
h2 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.59;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: .1px;
  line-height: 1.26;
}
h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.7px;
  line-height: 1.24;
}
h5 {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: .3px;
  line-height: 1.19;
}
h6 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.19;
}
p, input, select, textarea, label {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.35;
}
p a {
  color: $primary_colour;
}

// Alignment
.content-area {
  width: $site_width;
  padding: 0 20px;
  margin: 0 auto;
}
.left-align {
  float: left;
}
.right-align {
  float: right;
}
.clear {
  &:after {
    content: '';
    width: 100%;
    height: 0;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $primary_colour;
  padding: 15px 35px 13px;
  @include border-radius(4px);
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: .6px;
  text-align: center;
}

// Social Icons
.facebook-icon {
  mask: url('../images/social/facebook.svg') no-repeat center;
  -webkit-mask: url('../images/social/facebook.svg') no-repeat center;

  &:hover {
    background: #3b5998;
  }
}
.twitter-icon {
  mask: url('../images/social/twitter.svg') no-repeat center;
  -webkit-mask: url('../images/social/twitter.svg') no-repeat center;

  &:hover {
    background: #1da1f2;
  }
}
.instagram-icon {
  mask: url('../images/social/instagram.svg') no-repeat center;
  -webkit-mask: url('../images/social/instagram.svg') no-repeat center;

  &:hover {
    background: #c32aa3;
  }
}
.youtube-icon {
  mask: url('../images/social/youtube.svg') no-repeat center;
  -webkit-mask: url('../images/social/youtube.svg') no-repeat center;

  &:hover {
    background: #ff0000;
  }
}
