.hide-me{
  display: none;
}

.opportunity-admin-button{
    margin: 20px 0 0 0;

    &:last-of-type{
        margin:0px;
    }

}

#general-page-link-options-meta{

    .inside{ 
        .general-page-link-options-button{
            float:right; 
        }
    }

    .widefat{
        margin: 0 0 20px 0;
    }
    

}

.general-options-container{
    margin: 20px 0 0 0;

    fieldset { 
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px solid #E5E5E5;
    }
}


