/*****DESKTOP*****/
/*****LAPTOP*****/
/*****LAPTOPS/TABLETS******/
/*****TABLETS*****/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
    line-height: 34px; }

  h2 {
    font-size: 27px;
    line-height: 30px; }

  h3 {
    font-size: 25px;
    line-height: 27px; }

  h4 {
    font-size: 22px;
    line-height: 25px; }

  h5 {
    font-size: 16px;
    line-height: 18px; }

  p, a {
    font-size: 15px;
    line-height: 17px; }

  .container {
    padding: 0 40px; } }
/*****HUGE-MOBILES*****/
@media screen and (max-width: 600px) {
  /* Tablet */
  h1 {
    font-size: 28px;
    line-height: 30px; }

  h2 {
    font-size: 25px;
    line-height: 27px; }

  h3 {
    font-size: 22px;
    line-height: 25px; }

  h4 {
    font-size: 18px;
    line-height: 20px; }

  h5 {
    font-size: 16px;
    line-height: 18px; }

  p, a {
    font-size: 13px;
    line-height: 15px; }

  .container {
    padding: 0 25px; } }
/*****MOBILE*****/
/*****Landscape*****/

/*# sourceMappingURL=media-queries.css.map */
